<header>
    <div class="logo">
        <img class="logo-img" src="/images/VKLogo/VK_Compact_Logo.svg" alt="логотип">
        <div class="logo-text">
            <h2>gaming</h2>
        </div>
    </div>
    <nav>
        <ul class="horiz-menu">
            <li class="active">
                <a href="/">
                    Главное
                </a>
            </li>
            <li>
                <a href="/help">
                    Помощь
                </a>
            </li>
            <li>
                <a href="/cart">Корзина</a>
            </li>
            <li>
                <a href="/connect">Подключить</a>
            </li>
        </ul>
    </nav>
    <div class="acc">
            <a href="/account"><img class="account-logo" src="" alt="Войти" id="log"></a>
            <div class="user-cart" id="userCart">
                <ion-icon name="cart"></ion-icon>
            </div>
        </div>
</header>